<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketPlanMasterMaintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      
        <SocketPlanMasterMaintenance.Properties.Settings>
            <setting name="SocketPlanMasterMaintenance_UnitWiringServiceReference_UnitWiringService"
                serializeAs="String">
                <value>http://hrdapps22/SocketPlan/SocketPlanService.asmx</value>
            </setting>
          <setting name="HRD_CHOPPER_WinUI_UnitWiringServiceReference_UnitWiringService"
            serializeAs="String">
            <value>http://hrdapps22/CHOPPER2013/UnitWiringService.asmx</value>
          </setting>
        </SocketPlanMasterMaintenance.Properties.Settings>
      
        
      
    </applicationSettings>
  </configuration>