<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketPlan.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketPlan.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SocketPlan.WinUI.Properties.Settings>
            <setting name="SystemDirectory" serializeAs="String">
                <value>C:\UnitWiring\</value>
            </setting>
            <setting name="BlockDirectory" serializeAs="String">
                <value>C:\UnitWiring\Blocks\</value>
            </setting>
            <setting name="DrawingDirectory" serializeAs="String">
                <value>C:\UnitWiring\Drawings\</value>
            </setting>
            <setting name="ImageDirectory" serializeAs="String">
                <value>C:\UnitWiring\Images\</value>
            </setting>
            <setting name="SystemBlockDirectory" serializeAs="String">
                <value>C:\UnitWiring\SystemBlocks\</value>
            </setting>
            <setting name="ServerUserName" serializeAs="String">
                <value>denki_517@denki.hrd-s.com</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>sc1dv</value>
            </setting>
            <setting name="ServerSystemDirectory_Debug" serializeAs="String">
                <value>\\ksbu-share\【1G共通書類】\Projects\CHOPPER\仮想Denki-svr\マスタ\UnitWiring\</value>
            </setting>
            <setting name="ServerSystemDirectory_Release" serializeAs="String">
                <value>\\Denki-svr\SYSTEM\UnitWiring\</value>
            </setting>
            <setting name="ServerDrawingDirectories_Debug" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\Ksbu-ora11\【1g共通書類】\Projects\CHOPPER\仮想Denki-svr\UNIT WIRING DXF DATA\</string>
                        <string>\\Ksbu-ora11\【1g共通書類】\Projects\CHOPPER\仮想Denki-svr\Section Files\PDR\</string>
                        <string>\\Ksbu-ora11\【1g共通書類】\Projects\CHOPPER\仮想Denki-svr\Section Files\SHINSEI\</string>
                        <string>\\Ksbu-ora11\【1g共通書類】\Projects\CHOPPER\仮想Denki-svr\Section Files\UNIT WIRING\</string>
                        <string>\\Ksbu-ora11\【1g共通書類】\Projects\CHOPPER\仮想Denki-svr\Section Files\FBW\</string>
                        <string>\\Ksbu-ora11\【1g共通書類】\Projects\CHOPPER\仮想Denki-svr\Section Files\SUJIKAI\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerDrawingDirectories_Release" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\Denki-svr\Section Files\UNIT WIRING DXF DATA\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\PDR\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\FBW\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\SUJIKAI\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\SICKHOUSE\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\BRANCH\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\GC\</string>
                        <string>\\Denki-svr\Denkidata\AUTOCAD FILES\HENKOU\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DrawingPrefixes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>HPD</string>
                        <string>HSH</string>
                        <string>HUW</string>
                        <string>HSA</string>
                        <string>HJA</string>
                        <string>HHY</string>
                        <string>HZA</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LightSerialCsvExportDirectory_Debug" serializeAs="String">
                <value>C:\UnitWiring_CSV\</value>
            </setting>
            <setting name="LightSerialCsvExportDirectory_Release" serializeAs="String">
                <value>\\Sy_sv1\UnitWiring_CSV\</value>
            </setting>
            <setting name="ExportedCSVPath" serializeAs="String">
                <value>C:\UnitWiringTest\Exported\</value>
            </setting>
            <setting name="MasterMaintenanceUrl" serializeAs="String">
                <value>http://hrdapps66/CHOPPER2013PS5/SocketPlanMasterMaintenance/SocketPlanMasterMaintenance.application</value>
            </setting>
            <setting name="LocalSystemDirectory" serializeAs="String">
                <value>C:\UnitWiring\</value>
            </setting>
        </SocketPlan.WinUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SocketPlan.WinUI.Properties.Settings>
            <setting name="SocketPlan_WinUI_SocketPlanServiceReference_SocketPlanService"
                serializeAs="String">
                <value>http://hrdapps22/SocketPlan/SocketPlanService.asmx</value>
            </setting>
        </SocketPlan.WinUI.Properties.Settings>
    </applicationSettings>
</configuration>